.a-icon {
	$root: &;

	$icons: "burger-menu", "close-menu", "check-mark", "location", "envelope", "telephone", "facebook",
		"twitter", "instagram";

	@each $icon in $icons {
		&-#{$icon} {
			background-image: url("../../public/icons/#{$icon}.svg");
		}
	}

	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	&-clickable {
		cursor: pointer;
		transition: opacity 0.3s ease-in-out;

		&:hover {
			opacity: 0.7;
		}
	}
}
